<%- include ('partials/header') -%>

<p><%= soma %></p>

    <% if(soma%2 ===0){ %>
        <p>Somar e par</p>
    <% }else{ %>
        <p>Soma e impar</p>
    <% } %>

<%- include ('partials/footer') -%>
