<hr class="col-3 col-md-2 mb-5">


<div class="row g-5">
    <div class="col-md-6">
      <h2>Voltar</h2>
      <ul class="icon-list">
        <li><a href="/" rel="noopener" target="_blank"> Home</a></li>
      </ul>
    </div>

  </div>
</main>

</div>


  <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>

    
</body>
</html>
