<%- include ('partials/header') -%>

  <main>
    <h1>Gere seu numero de 1 a 100</h1>

    <div class="mb-5">
      <a href="./tabuadas" class="btn btn-primary btn-lg px-4">Escolhe seu numero</a>
    </div>


    
<%- include ('partials/footer') -%>
